/* src/components/CountryList.css */
.container {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.travel-guide {
   text-align: center;
   margin-bottom: 30px;
   padding-bottom: 30px;
   border-bottom: 1px solid #333;
}

h2 {
   font-size: 28px;
   color: #333;
   margin-top: 0;
}

p {
   font-size: 16px;
   color: #777;
   margin-bottom: 10px;
}

.search-box {
   margin-top: 20px;
}

input[type="text"] {
   padding: 10px;
   font-size: 16px;
   border: 1px solid #ccc;
   border-radius: 4px;
   width: 300px;
}

input[type="text"]::placeholder {
   color: #aaa;
}

.country-list {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.country-card {
   width: 140px;
   aspect-ratio: 16/9;
   margin: 5px;
   padding: 10px;
   background-color: #fff;
   border: 1px solid #232323;
   border-radius: 5px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
   cursor: pointer;
   transition: transform 0.3s ease;
   background-size: cover;
   background-position: center;
}

.country-card:hover {
   transform: translateY(-2px);
}

.country-name {
   background-color: rgba(255, 255, 255, 0.6);
   max-width: fit-content;
   border-radius: 5px;
   padding-inline: 5px;
   font-size: 16px;
   font-weight: bold;
   margin-bottom: 5px;
   text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
   overflow: hidden;
   text-align: left;
}

.country-overlay {
   position: relative;
   display: flex;
   flex-direction: column;
   height: 100%;
   width: 100%;
}

.country-region {
   position: absolute;
   bottom: 0;
   right: 0;
   font-size: 14px;
   color: #ffeeee;
   text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.8);
}